.container_avatar {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 100%;
    height: 109px;
}

.contaner_basic_info {
    height: 120px;
    overflow: auto;
}

.avatar_url {
    object-fit: scale-down;
    border-radius: 100%;
    width: 100%;
}


.result_list {
    display: none;
    position: absolute;
    border: 15px solid #fff;
    z-index: 999;
    background: #fff;
    border-radius: 6px;
    box-shadow: 11px 6px 26px -1px #ccc;
    max-height: 50vh;
    overflow: auto;
    min-height: 100px;
    padding: 20px;
}

.repos_list {
    max-height: 30vh;
    overflow: auto;
}